:root {
  --base00: #292d3e;
  --base01: #444267;
  --base02: #32374d;
  --base03: #676e95;
  --base04: #8796b0;
  --base05: #959dcb;
  --base06: #959dcb;
  --base07: #ffffff;
  --base08: #f07178;
  --base09: #f78c6c;
  --base0A: #ffcb6b;
  --base0B: #c3e88d;
  --base0C: #89ddff;
  --base0D: #82aaff;
  --base0E: #c792ea;
  --base0F: #ff5370;

  --max-width: 1300px;

  --pad-xs: 0.2em;
  --pad-sm: 0.5em;
  --pad-m: 1em;
}

#root {
  margin: 0 0;
  padding: 0;

}
body{
  padding: 2rem;
  margin: 0;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  background-color: purple;

}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.app{
  min-height: 100vh;
  max-width: 1306px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--base00)
}

nav{
  background: grey;
}

.header{
  max-width: 60ch;
  margin: auto;
  text-align: center;
}
.posts{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  padding: 2em;
  width: auto;
  height: 200px;
  background-color: var(--base000);
  border: 1px solid var(--base09);
  border-radius: .5rem;
}

form{
  display: flex;
  flex-direction: column;
  max-width: 60ch;
  margin: auto;
}


form div {
  display: flex;
  margin-bottom: 1em;
  border: 1px solid var(--base0C);
  border-radius: .3em;
}
form label{
  flex: 1;
  background-color: var(--base0C);
  color: var(--base00);
  padding: .3em;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
form input{
  flex: 3;
  border: none;
  background-color: rgba(var(--base01), .07);
}

button{
  margin-top: 2rem;
  background-color: var(--base0C);
  color: var(--base00);
  border-color: var(--base02);
  font-weight: bold;
  padding: 1em;
  border-radius: .5em;
  font-size: 1.3rem;
  transition: all .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
button:hover{
  cursor: pointer;
  background-color: var(--base01);
  color: var(--base0C)
}